{# Macro sorting on a specific field #}

{% macro sort(field, title_header = None) %}
    {% set sort = request.args.get('sort', None) %}
    {% set direction = request.args.get('direction', 'asc') %}
    {% set q = request.args.get('q', '') %}


    {% if title_header == None %}
        {% set label = field | title %}
    {% else %}
        {% set label = title_header %}
    {% endif %}

    {% if sort == field and direction == 'asc' %}
        {% set direction = 'desc' %}
    {% else %}
        {% set direction = 'asc' %}
    {% endif %}

    {% if sort == field %}
        {% set css = direction %}
    {% else %}
        {% set css = 'sort' %}
    {% endif %}

    <a class="{{ css }}" href="{{url_for(request.endpoint, q=q, sort = field, direction = direction, **request.view_args )}}"> {{ label }} </a>
    
{% endmacro %}


{# paginate through a resource #}

{% macro paginate(resource) %}

  <!-- {% set args = request.args.to_dict() %} -->
    <ul class="pagination">
      <li class="{{ 'disabled' if resource.page == 1 }}">
        <a href="{% if resource.has_prev %}{{ url_for(request.endpoint,
          page = 1, **kwargs) }}{% else %}#{% endif %}" aria-label="First">&laquo;&laquo; First </a>
      </li>
      


      <li class="{{ 'disabled' if not resource.has_prev }}">
        <a href="{% if resource.has_prev %}{{ url_for(request.endpoint,
          page = resource.page - 1, **kwargs) }}{% else %}#{% endif %}"
            aria-label="Previous">&laquo;
          Prev
        </a>
      </li>

      {% for p in resource.iter_pages() %}
        {% if p %}
          {% if p == resource.page %}
            <li class="active">
            <a href="{{ url_for(request.endpoint, page = p, **kwargs) }}">{{ p }}</a>
          </li>
          {% else %}
            <li>
            <a href="{{ url_for(request.endpoint, page = p, **kwargs) }}">{{ p }}</a>
            </li>
          {% endif %}
        {% else %}
          <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
      {% endfor %}


      <li class="{{ 'disabled' if not resource.has_next }}">
        <a href="{% if resource.has_next %}{{ url_for(request.endpoint,
          page = resource.page + 1, **kwargs) }}{% else %}#{% endif %}"
            aria-label="Previous">&raquo;
          Prev
        </a>
      </li>

      <li class="{{ 'disabled' if resource.page == resource.pages }}">
        <a href="{% if resource.has_next %}{{ url_for(request.endpoint,
          page = resource.pages, **kwargs) }}{% else %}#{% endif %}" aria-label="First">&raquo;&raquo; Last </a>
      </li>
    </ul>
{% endmacro %}





